$color-primary: rgb(113, 191, 68);
$screen-sm: 768px;
$panel-width: 550px;

* {
  box-sizing: border-box;
}

.sky-help-container {
  line-height: 1;
  position: fixed;
  top: 0;
  right: -$panel-width;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  transition: right 250ms;

  &.open {
    right: 0;
  }

  @media (min-width: $screen-sm) {
    width: $panel-width;
  }
}

.sky-help-invoker {
  background-color: $color-primary;
  color: #fff;
  padding: 15px;
  border: 0;
  line-height: 1;
  font-size: 1em;
  text-align: left;
  padding-left: 15px;
  float: left;
  opacity: 1;
  transition: padding-right 250ms, background-color 250ms, opacity 250ms;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: darken($color-primary, 5%);
    cursor: pointer;
    padding-right: 30px;
  }

  > .icon {
    font-style: normal;
    display: inline-block;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    line-height: 18px;
    width: 22px;
    font-weight: bold;
    text-align: center;
  }

  &.disabled {
    opacity: 0;
  }

  @media (min-width: $screen-sm) {
    position: absolute;
    right: 100%;
  }
}

.sky-help-panel {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.sky-help-panel-header {
  height: 52px;
  background-color: $color-primary;
  color: #fff;
  padding: 0 15px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .form {
    float: left;

    input[type="text"] {
      display: block;
    }
  }
}

.sky-help-panel-body {
  padding: 15px;
}

.sky-help-panel-footer {
  padding: 10px 15px;
  background-color: #f8f8f8;
  font-size: 85%;
}

.sky-help-navigation {
  float: right;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > button {
    background-color: transparent;
    display: block;
    border: 0;
    color: #fff;
    float: left;
    width: 40px;
    text-align: center;
    padding: 0 5px;
    font-size: 1em;

    &:hover {
      cursor: pointer;
      background-color: darken($color-primary, 10%);
    }
  }
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > li {
    display: block;
    float: left;
    margin: 0 15px 0 0;

    > a {}
  }
}

.sky-help-input-group {
  position: relative;
  display: table;
  border-collapse: separate;

  > input {
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
  }

  .sky-help-input-group-button {
    display: table-cell;
    position: relative;
    font-size: 0;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;

    > button {
      z-index: 2;
      margin-left: -1px;
      position: relative;
    }
  }
}

.sky-help-button {

}